@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary: 248 250 252; /* #f8fafc */
  --secondary: 226 232 240; /* #e2e8f0 */
  --tertiary: 203 213 225; /* #cbd5e1 */
  --text-primary: 30 41 59;
  --text-secondary: 100 116 139;
}

.dark {
  --primary: 15 23 42; /* твой тёмный */
  --secondary: 30 41 59;
  --tertiary: 51 65 85;
  --text-primary: 148 163 184;
  --text-secondary: 226 232 240;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
  transition: all 0.3s ease;
}

.actions-table {
  grid-template-columns: 100px 150px 150px 150px 200px 200px minmax(300px, 1fr) 50px;
}

input[type="checkbox"] {
  appearance: none;
}

input[type="checkbox"]::after {
  content: "";
  display: block;
  width: 20px;
  height: 20px;
  border: 2px solid rgb(148 163 184);
  border-radius: 4px;
  cursor: pointer;
}

input[type="checkbox"]:checked::after {
  background-color: #007bff;
  border-color: #007bff;
  content: "✓";
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}
